@media screen and (max-width: 1600px) {


  .navbar__ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .working__slider-container{
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .article {
    padding: 65px 20px 65px 230px;
  }

  .heading-3 {
    max-width: 400px;
  }

  .article:first-child {
    background-image: url(../img/1920px/description-1.png);
    background-repeat: no-repeat;
    background-position: center left 20px;
  }

  .article:last-child {
    background-image: url(../img/1920px/description-2.png);
    background-repeat: no-repeat;
    background-position: center left 20px;
  }

  .navbar {
    margin-left: 0;
  }

  .navbar__items:last-child {
     margin-right: 0;
  }



}

@media screen and (max-width: 1485px) {



  .working__slider:last-child {
    width: 437px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;
  }

  .working__slider-bg__01 {
    background-image: url(../img/1920px/how/how-01.png);
  }

  .working__slider-bg__02 {
    background-image: url(../img/1920px/how/how-02.png);
  }

  .working__slider-bg__03 {
    background-image: url(../img/1920px/how/how-03.png);
  }

  .working__slider-bg__04 {
    background-image: url(../img/1920px/how/how-04.png);
  }


  .working__slider:first-child {
    max-width: 50%;
    margin-right: 32px;
  }



  .about__description-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  .article {
    padding: 95px 75px 83px 310px
  }

  .article:first-child {
    background-image: url(../img/1920px/description-1.png);
    background-repeat: no-repeat;
    background-position: center left 60px;
  }

  .article:last-child {
    background-image: url(../img/1920px/description-2.png);
    background-repeat: no-repeat;
    background-position: center left 60px;
  }

  .heading-3 {
    max-width: 500px;
  }

  .article__text {
    max-width: 850px;
    align-items: center;
  }

  .footer__content {
    display: flex;
    flex-direction: row;
    row-gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 75px;
  }

  .footer-text {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .banner__content {
    padding: 80px 0 0 60px;
  }

  .banner__title {
    font-size: 60px;
    line-height: 73.5px;
    margin-bottom: 16px;
  }

  .banner__text {
    max-width: 782px;
    font-size: 20px;
    line-height: 24.38px;
    margin-bottom: 60px;
  }

  .burger-menu {
    display: block;
    width: 420px;
    min-height: 808;
    padding: 38px 0 0 50px;
    background-color: var(--color-white);
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    position: absolute;
    top: 0;
    z-index: 2;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
  }

  .burger-menu.burger-menu_active {
    visibility: visible;
    opacity: 1;
  }

    .burger-menu__btn-closed {
      margin: 0;
      padding: 0;
      width: 25px;
      height: 25px;
      border: 0;
      background: none;
      margin-bottom: 107.7px;
    }

    .burger-menu__btn-closed.burger-menu__btn-closed_active {
      visibility: hidden;
      opacity: 0;
    }

    .burger-menu__container-items {
      margin: 0;
      padding: 0;
      list-style-type: none;
      margin-bottom: 249px;
    }

      .burger-menu__item:not(:nth-child(5)) {
        margin-bottom: 60px;
      }

      .burger-menu__item-link {
        color: var(--color-gray-hard);
        font-size: 24px;
        font-weight: 700;
        line-height: 29.26px;
        cursor: pointer;
      }



  .navbar-btn {
    order: 1;
  }

  .logo {
    order: 2;
  }

  .search {
    order: 3;
  }

  .navbar {
    display: none;
  }

  .navbar-btn {
    display: block;
    padding: 0;
    width: 30px;
    height: 23px;
    border: none;
    color: #df1010;
    background-color: transparent;
    cursor: pointer;
  }

    .navbar-btn__sticks {
      display: block;
      width: 30px;
      height: 3px;
      background-color: #000000;
      transition: transform 0.3s;
    }

      .navbar-btn__sticks:not(:last-child) {
        margin-bottom: 7px;
      }
}

@media screen and (max-width: 1024px) {

  .container {
    padding: 0 50px;
  }

  .header {
    margin-bottom: 40px;
  }

  .banner {
    margin-bottom: 36px;
  }

  .banner-content {
    padding: 160px 77px;
  }

      .slides:first-child {
        background-image: url(../img/1024px/hero/hero_01.png);
      }

      .slides:nth-child(2) {
        background-image: url(../img/1024px/hero/hero_02.png);
      }

      .slides:last-child {
        background-image: url(../img/1024px/hero/hero_03.png);
      }



  .banner__title {
    max-width: 704px;
    color: var(--color-white);
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 15px;
    line-height: 73.14px;
  }

  .banner__text {
    margin: 0;
    max-width: 670px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    color: var(--color-white);
    margin-bottom: 59px;
  }

  .about__text {
    margin-bottom: 60px;
  }

  .about__description:first-child  {
    margin-right: 0;
    min-height: 640px;
  }

  .banner__link {
    font-size: 23px;
    padding: 25px 39px;
  }

  .banner__bg {
    padding: 160px 78px;
  }

  .header__content {
    padding: 26px 50px;
  }

  .logo {
    width: 150px;
    height: 48px;
  }

  .about {
    margin-bottom: 80px;
  }

  .about__details {
    padding: 51px 50px 49px 50px;
  }

  .about__details-link {
    padding: 17px 35px;
  }

  .article {
    padding: 63px 117px 63px 316px;
  }

  .article:first-child {
    background-image: url(../img/1920px/description-1.png);
    background-repeat: no-repeat;
    background-position: center left 76px;
  }

  .article:last-child {
    background-image: url(../img/1920px/description-2.png);
    background-repeat: no-repeat;
    background-position: center left 76px;
  }

  .about__description-container {
    row-gap: 32px
  }

  .working__btn:not(:last-child) {
    margin-right: 81px;
  }

  .working {
    margin-bottom: 79px;
  }

  .working__btn-container {
    margin-bottom: 50px;
  }

  .working__btn {
    margin-bottom: 0;
  }


  .working__text {
    max-width: 453px;
    margin-bottom: 21px;
  }

  .working__li {
    margin-right: 29px;
  }

  .working__link {
    padding: 21px 39px;
    border-radius: 16px;
    text-align: center;
  }

  .working__slider-bg__01 {
    background-image: url(../img/1024px/how/how_01.png);
  }

  .working__slider-bg__02 {
    background-image: url(../img/1024px/how/how_02.png);
  }

  .working__slider-bg__03 {
    background-image: url(../img/1024px/how/how_03.png);
  }

  .working__slider-bg__04 {
    background-image: url(../img/1024px/how/how_04.png);
  }

  .faq {
    margin-bottom: 81px;
  }

  .faq__btn {
    font-size: 20px;
  }

  .faq__btn span {
    margin-right: 94px;
    line-height: 32px;
  }

  .footer__content {
    display: flex;
    justify-content: space-between;
    padding: 48px 49px;
  }

  .footer-logo {
    width: 224px;
    height: 72px;
  }


  .footer-form__input {
    width: 100%;
  }

  .footer-form {
    max-width: 541px;
  }

  .footer-form__input {
    padding: 11px 24px 14px 24px;
    height: 60px;
  }

  .footer-form__taxtarea {
    padding: 20px 24px 14px 24px;
    height: 150px;
    margin-bottom: 30px;
  }

  .footer-navbar__links {
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
  }

  .footer-form__button {
    width: 240px;
  }

}


@media screen and (max-width: 768px) {



  .search-container {
    top: 0;
    right: 0;
    height: 68px;
  }

  .footer__about {
    order: 2;
  }

  .footer-form {
    order: 1;
  }

  .header__content {
    padding: 10px 50px;
  }

  .banner__bg {
    border-radius: 25px;
    padding: 161px 40px;
  }

  .banner-content {
    padding: 160px 40px;
  }

  .slides:first-child {
    background-image: url(../img/768px/hero/hero_01.png);
  }

  .slides:nth-child(2) {
    background-image: url(../img/768px/hero/hero_02.png);
  }

  .slides:last-child {
    background-image: url(../img/768px/hero/hero_03.png);
  }

  .banner__title {
    font-size: 50px;
    line-height: 61px;
  }

  .banner__text {
    max-width: 589px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 62px;
  }

  .banner__link {
    padding: 24px 39px;
    font-size: 23px;
  }

  .about__text {
    margin-bottom: 54px;
  }

  .about__description:first-child {
    border-radius: 24px;
  }

  .about__details-text {
    margin: 0;
    width: 368px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
  }

  .about__details {
    padding: 33px 40px 35px 40px;
    border-radius: 23px;
  }

  .article {
    min-height: 234px;
    border-radius: 22px;
    padding: 34px 35px 25px 169px;
  }

  .article:first-child {
    background-image: url(../img/1920px/description-1.png);
    background-repeat: no-repeat;
    background-position: center left 39px;
    background-size: 114px 99px;
  }

  .article:last-child {
    background-image: url(../img/1920px/description-2.png);
    background-repeat: no-repeat;
    background-position: center left 39px;
    background-size: 114px 99px;
  }


  .working__btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
  }

  .working__slider:last-child {
    width: 100%;
    margin-bottom: 38px;
  }


  .working__items-container {
    display: flex;
    justify-content: space-between;
  }

  .working__slider-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .working__slider:first-child {
    order: 2;
    max-width: 100%;
    margin-right: 0;
  }

  .working__slider-img {
    order: 1;
    width: 100% !important;
    max-width: 100%;
    min-height: 285px;
    border-radius: 24px !important;
    background-repeat: no-repeat;
    background-image: url(../img/768px/how/how_01.png) !important;
    margin-bottom: 42px;
  }

  .working__text {
    max-width: 100%;
  }

  .working__slider-bg__01 {
    background-image: url(../img/768px/how/how_01.png);
  }

  .working__slider-bg__02 {
    background-image: url(../img/768px/how/how_02.png);
  }

  .working__slider-bg__03 {
    background-image: url(../img/768px/how/how_03.png);
  }

  .working__slider-bg__04 {
    background-image: url(../img/768px/how/how_04.png);
  }

  .working__slider:last-child {
    width: 100%;
    margin-bottom: 38px;
    min-height: 284px;
  }

  .working {
    margin-bottom: 46px;
  }

  .working__item:not(:last-child) {
     margin-right: 0;
  }

  .faq__btn span {
    margin-right: 40px;
  }

  .faq {
    margin-bottom: 112px !important;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 50px;
    padding: 52px 50px;
  }

  .footer-form {
    max-width: 570px;
  }

  .footer-form__taxtarea {
    margin-bottom: 32px;
  }

  .footer-navbar {
    display: none;
  }

  .footer-logo {
    margin-bottom: 17px;
  }

}




@media screen and (max-width: 665px) {
  .search-container {
    padding: 21px 15px 21px 15px;
    border-radius: 0;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .burger-menu__btn-closed {
    margin-bottom: 32px;
  }

  .burger-menu__container-items {
    margin-bottom: 101px;
  }

  .search-container__input {
    width: 205px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
  }

  .burger-menu__item:not(:nth-child(5)) {
    margin-bottom: 32px;
  }

  .burger-menu {
    width: 320px;
    padding: 23px 0 0 15px;
  }


  .footer__about {
    order: 2;
  }

  .footer-form {
    order: 1;
  }

  .container {
    padding: 0 15px;
  }

  .header {
    margin-bottom: 30px;
  }

  .header__content {
    padding: 17px 15px;
  }

  .banner__content {
    padding: 60px 0 0 21px;
  }


        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
          bottom: var(--swiper-pagination-bottom,15px) !important;
        }

        .swiper-pagination-bullet {
          width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px)) !important;
          height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px)) !important;
        }

        .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
          margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px) !important;
        }

  .logo {
    width: 110px;
    height: 35px;
  }

  .banner {
    margin-bottom: 59px;
  }

  .banner-content {
    padding: 60px 21px;
  }

  .banner__title {
    font-size: 20px;
    line-height: 24.38px;
    text-align: center;
    margin-bottom: 6px;
  }

  .banner__text {
    font-size: 12px;
    line-height: 14.63px;
    text-align: center;
    margin-bottom: 32px;
  }

  .banner__link {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    padding: 13px 28px;
    line-height: 14.63px;
  }

  .banner__bg {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    padding: 60px 19px;
    min-height: 309px;
  }

  .heading-2 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 29.26px;
  }

  .about__text {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 14px;
}

.about {
  margin-bottom: 59px;
}

.about__description-container {
  row-gap: none;
}

.about__details {
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: baseline;
}

.about__details-text {
  width: 368px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: black;
  max-width: 292px;
  margin-bottom: 15px;
}

.about__description:last-child {
  row-gap: 22px;
}

.about__description:first-child {
  display: block;
  background-size: contain;
  min-height: auto;
  border-radius: 16px;
  border-radius: 16px;
  background-image: url(../img/320px/Rectangle.png);
  padding-top: 76%;
}

.about__details-text_320px {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.about__details-link {
  margin: 0;
  padding: 0;
  color: #FF9900;
  padding: 10px 42px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
  border: 2px solid #FF9900;
  border-radius: 8px;
}

.article {
  padding: 0;
  border: 0;
  padding: 74px 0px 0px 0;
}

.article:first-child {
  background-image: url(../img/1920px/description-1.png);
  background-repeat: no-repeat;
  background-position: top 4px left;
  background-size: 71px 60px;
}

.article:last-child {
  padding: 0;
  background-image: url(../img/1920px/description-2.png);
  background-repeat: no-repeat;
  background-position: top 21px left;
  background-size: 71px 60px;
  padding: 95px 0px 0px 0;
}

.heading-3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5.94px;
}

.article__text {
  max-width: 400px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 28px;
}

.working__item-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.working__h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 21px;
  line-height: 29.26px;
}

.working__btn-container {
  margin-bottom: 9px;
}

.working__btn {
  margin-right: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 6px;
}

.working__btn:not(:last-child) {
  margin-right: 0;
}

.working__slider-img {
  order: 1;
  width: 100% !important;
  max-width: 100%;
  min-height: 160px;
  border-radius: 17px !important;
  background-repeat: no-repeat;
  background-image: url(../img/768px/how/how_01.png) !important;
  margin-bottom: 22px;
}

.heading-3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.working {
  margin-bottom: 58px;
}

.working__text {
  margin: 0;
  color: var(--color-gray-hard);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 26px;
}

.working__link {
  border-radius: 7px;
  text-align: center;
}

.working__link_color {
  display: block;
  font-size: 12px;
  font-weight: 700;
  padding: 12px 44px;
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
  line-height: 14px;
}

.working__link_mono {
  display: block;
  font-size: 12px;
  padding: 12px 32px;
  font-weight: 400;
  line-height: 14.63px;
  border: 1px solid var(--color-gray-hard);
}

.working__li {
  margin-right: 7px;
}

.working__slider-h3 {
  margin-bottom: 13px;
}

.faq__h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 29.26px;
}

.faq {
  margin-bottom: 60px !important;
}

.faq__btn {
  padding: 30px 0 30px 0;
}

.faq__btn span {
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
  font-weight: 500;
}

.faq__btn svg {
 width: 30px;
 min-width: 30px;
 height: 30px;
 min-height: 30px;
}

.footer-form__label {
  color: var(--color-gray-lite);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.26px;
  margin-bottom: 20px;
}

.footer-form__input::placeholder {
  font-size: 14px;
}

.footer-logo {
  width: 131px;
  height: 42px;
}

.footer-form {
  margin-bottom: 31px;
}

.footer-social {
  margin: 0 auto;
}

.footer-form__button {
  margin: 0 auto;
  width: 180px;
  height: 39px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 8px;
}

.footer-form__input {
  max-width: 291px;
  height: 60px;
}

.footer-social__items {
  list-style-type: none;
  margin-right: 0;
}

.footer-social__items:first-child {
  margin-right: 16px;
}

.footer-social__links svg {
  width: 40px;
  height: 40px;
}

.footer-form__taxtarea {
  min-height: 150px;
  margin-bottom: 25px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  row-gap: normal;
  padding: 33px 14px;
  align-items: center;
}

.footer__about {
  width: 129px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

}

@media screen and (max-width: 320px) {
  .footer__about {
    order: 2;
  }

  .footer-form {
    order: 1;
  }

  .banner__link {
    border-radius: 9px;
  }

  .about__description:first-child {
    padding-top: 71%;
  }

  .about__description-container {
    row-gap: 19px;
  }

  .about__description:last-child {
    row-gap: 0;
  }

  .working__item-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  .working__slider-bg__01 {
    background-image: url(../img/320px/how/how_01.png);
  }

  .working__slider-bg__02 {
    background-image: url(../img/320px/how/how_02.png);
  }

  .working__slider-bg__03 {
    background-image: url(../img/320px/how/how_03.png);
  }

  .working__slider-bg__04 {
    background-image: url(../img/320px/how/how_04.png);
  }

  .working__slider:last-child {
    min-height: 160px;
    border-radius: 16px;
}

.working__items-container {
  margin-bottom: 16px;
}

.working__slider:last-child {
  margin-bottom: 16px;
}

}










