html {
  box-sizing: border-box;
}

*

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

a {
  text-decoration: none;
}

:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-gray-hard: #333333;
  --color-orange: #FF9900;
  --color-gray-lite: #CACACA;
  --color-mango: #E1670E;
  --color-footer: #222222;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,900;1,700&display=swap');

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-ExtraBold.ttf);
       font-style: normal;
       font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf);
       font-style: normal;
       font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.ttf);
       font-style: normal;
       font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
       font-style: normal;
       font-weight: 400;
}

/* ------------------------------------------------------------------------------- */
.page {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.stop-scroll {
  overflow: hidden;
}

.container { /* Главный контейнер страницы */
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--color-white);
  padding: 0 75px;
}

.heading-2 {
  margin: 0;
  padding: 0;
  color: var(--color-gray-hard);
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 58.51px;
}

.heading-3 {
  margin: 0;
  padding: 0;
  color: var(--color-gray-hard);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}


.header {
  width: 100%;
  box-shadow: 0px 0px 42px -13px rgb(0 0 0 / 30%);
  position: relative;
  z-index: 2;
  background-color: transparent;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  margin-bottom: 50px;
}

.header__content {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 14px 75px;
  position: relative;
  z-index: 0;
}

.navbar-btn {
  display: none;
  padding: 0;
  width: 30px;
  height: 23px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navbar-btn:focus {
  outline: 2px solid var(--color-orange);
  outline-offset: 3px;
}

  .navbar-btn svg rect {
    fill: var(--color-black);
    transition: fill 0.3s;
  }

  .navbar-btn:active svg rect {
    fill: var(--color-orange);
  }

  .logo {
    width: 225px;
    height: 72px;
  }

  .navbar {
    margin-left: auto;
  }

  .navbar__ul {
    padding: 0;
    display: flex;
    flex-direction: row;
  }

    .navbar__items {
      list-style-type: none;
    }

    .navbar__items:not(:last-child) {
      margin-right: 86px;
    }

    .navbar__items:last-child {
      margin-right: 260px;
    }

      .navbar__links {
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        color: var(--color-gray-hard);
        border: 0;
        transition: color 0.3s ease-in,
                    border 0.3s ease-in,
                    color 0.2 linear;
      }

      .navbar__links:focus {
        outline: 3px solid var(--color-orange);
        outline-offset: 5px;
      }

      .navbar__links:hover {
        border-bottom: 2px solid var(--color-orange);
      }

      .navbar__links:active {
        color: #E1670E;
        border: 0;
      }


  .search {
    padding: 0;
    width: 24px;
    height: 24px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .search:focus {
    outline: 2px solid var(--color-orange);
    outline-offset: 3px;
  }

    .search svg rect {
      fill: var(--color-black);
      transition: fill 0.3s;
    }

      .search:focus svg rect {
        fill: var(--color-black);
      }

      .search:hover svg rect {
        fill: var(--color-orange);
      }

      .search:active svg rect {
        fill: var(--color-orange);
      }


    .search svg path {
      stroke: var(--color-black);
      transition: stroke 0.3s;
    }

      .search:focus svg path {
        stroke: var(--color-black);
      }

      .search:hover svg path {
        stroke: var(--color-orange);
      }

      .search:active svg path {
        stroke: var(--color-orange);
      }

      .search-container {
        margin: 0;
        display: flex;
        align-items: center;
        padding: 16px 18px 16px 32px;
        max-width: 500px;
        height: 60px;
        background-color: var(--color-white);
        border-radius: 24px;
        position: absolute;
        right: 11px;
        top: 19px;
        z-index: 2;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        visibility: hidden;
        opacity: 0;
      }

      .search-container.search-container_active {
        visibility: visible;
        opacity: 1;
      }

        .search-container__form {
          display: flex;
          align-items: center;
          padding: 0;
          margin: 0;
          margin-right: 22px;
        }

          .search-container__input {
            padding: 0;
            margin: 0;
            width: 368px;
            border: 0;
            border-bottom: 1px solid var(--color-gray-lite);
            font-size: 18px;
            font-weight: 500;
            line-height: 21.94px;
            color: var(--color-gray-lite);
            margin-right: 14px;
          }

            .search-container__btn-closed {
              width: 24px;
              height: 24px;
              margin: 0;
              padding: 0;
              background: none;
              border: none;
              cursor: pointer;
            }

            .search-container__btn-closed:focus {
              outline: 2px solid var(--color-orange);
              outline-offset: 3px;
            }

              .search-container__btn-closed svg rect {
                fill: var(--color-gray-lite);
                transition: stroke 0.3s;
              }

                .search-container__btn-closed:focus svg rect {
                  fill: var(--color-gray-lite);
                }

                .search-container__btn-closed:hover svg rect {
                  fill: var(--color-orange);
                }

                .search-container__btn-closed:active svg rect {
                  fill: var(--color-black);
                }

              .search-container__btn-closed svg circle {
                stroke: var(--color-gray-lite);
                transition: stroke 0.3s;
              }

                .search-container__btn-closed:focus svg circle {
                  stroke: var(--color-gray-lite);
                }

                .search-container__btn-closed:hover svg circle {
                  stroke: var(--color-orange);
                }

                .search-container__btn-closed:active svg circle {
                  stroke: var(--color-black);
                }

  .burger-menu {
    display: none;
  }


.main {
  width: 100%;
}

/* ------------------------------------------------------------------------------- */

  .banner {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }

        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
          bottom: var(--swiper-pagination-bottom,30px) !important;
        }

        .swiper-pagination-bullet {
          width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,15px)) !important;
          height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,15px)) !important;
        }

        .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
          margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px) !important;
        }



      .slider-box {
        position: relative;
      }

        .slider__container {
          position: absolute;
          left: 0;
          height: 100%;
          width: 100%;
        }

          .slides {
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 32px;
          }

            .slides:first-child {
              background-image: url(../img/1920px/hero/hero-01.png);
            }

            .slides:nth-child(2) {
              background-image: url(../img/1920px/hero/hero-02.png);
            }

            .slides:last-child {
              background-image: url(../img/1920px/hero/hero-03.png);
            }

            .swiper-pagination-bullet {
              background: var(--color-white) !important;
            }

      .banner-content {
        position: relative;
        z-index: 1;
        padding: 100px 0 100px 80px;
      }



    .banner__title{
      width: 100%;
      max-width: 837px;
      margin: 0;
      padding: 0;
      color: var(--color-white);
      font-size: 70px;
      font-weight: 800;
      margin-bottom: 24px;
      line-height: 85px;
    }

    .banner__text {
      margin: 0;
      width: 100%;
      max-width: 790px;
      font-size: 24px;
      font-weight: 700;
      line-height: 29.26px;
      color: var(--color-white);
      margin-bottom: 90px;
    }

    .banner__link {
      display: inline-block;
      color: var(--color-white);
      font-size: 23.46px;
      font-weight: 700;
      line-height: 28.6px;
      text-align: center;
      padding: 24.83px 36.88px;
      border-radius: 16px;
      background-color: var(--color-orange);
      transition: background-color 0.2s;
    }

      .banner__link:focus {
        background-color: rgba(255, 153, 0, 0.7)
      }

      .banner__link:hover {
        background-color: rgba(255, 153, 0, 0.7);
      }

      .banner__link:active {
        background-color: #E1670E;
      }



  .about {
    margin: 0;
    margin-bottom: 102px;
  }


    .about__text {
      margin: 0;
      max-width: 1239px;
      color: var(--color-gray-hard);
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 50px;
    }


    .about__description-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

      .about__description {
        width: 100%;
        margin: 0;
        padding: 0;
      }

      .about__description:first-child {
        display: flex;
        flex-direction: column;
        justify-content: end;
        border-radius: 32px;
        background-image: url(../img/1920px/about.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 32px;
        min-height: 622px;
      }

      .about__description:last-child {
        display: flex;
        flex-direction: column;
        row-gap: 32px;

      }

        .about__details {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 51px 50px 50px 50px;
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 32px;
        }


          .about__details-text {
            margin: 0;
            width: 454px;
            color: var(--color-white);
            font-size: 16px;
            font-weight: 700;
            line-height: 32px;
          }


          .about__details-link {
            display: inline-block;
            color: var(--color-white);
            font-size: 16px;
            font-weight: 700;
            line-height: 19.5px;
            padding: 19px 37px;
            border: 3px solid var(--color-orange);
            border-radius: 16px;
            transition: background-color 0.2s ease-in, color 0.2s linear;
          }

            .about__details-link:focus {
              color: var(--color-white);
              background-color: var(--color-orange);
              border: 3px solid var(--color-orange);
            }

            .about__details-link:hover {
              color: var(--color-white);
              background-color: var(--color-orange);
              border: 3px solid var(--color-orange);
            }

            .about__details-link:focus {
              color: var(--color-white);
              background-color: var(--color-mango);
              border: 3px solid var(--color-mango);
            }

        .article {
          min-height: 295px;
          display: flex;
          flex-direction: column;
          border: 1px solid var(--color-gray-lite);
          border-radius: 32px;
          padding: 64px 60px 46px 297px;
        }

        .article:first-child {
          background-image: url(../img/1920px/description-1.png);
          background-repeat: no-repeat;
          background-position: center left 60px;
        }

        .article:last-child {
          background-image: url(../img/1920px/description-2.png);
          background-repeat: no-repeat;
          background-position: center left 60px;
        }

          .article__text {
            max-width: 426px;
            padding: 0;
            margin: 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
          }



  .working {
    margin: 0;
    width: 100%;
    margin-bottom: 111px;
  }

    .working__h2 {
      margin: 0;
      padding: 0;
      color: var(--color-gray-hard);
      font-size: 48px;
      font-weight: 400;
      margin-bottom: 48px;
      line-height: 58.51px;
    }

      .working__items-container {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
        margin-bottom: 45px;
      }

        .working__item {
          margin: 0;
          padding: 0;
          color: var(--color-gray-hard);
          border: 0;
          background-color: transparent;
          cursor: pointer;
          transition: color;
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
        }

        .working__item.working__item_active {
          color: var(--color-mango);
        }

        .active {
          color: var(--color-mango);
        }


        .working__item:not(:last-child) {
          margin-right: 81px;
        }

        .working__item:link {
          color: var(--color-gray-hard);
          outline: 3px solid var(--color-orange);
          outline-offset: 3px;
        }

        .working__item:focus {
          color: var(--color-gray-hard);
          outline: 3px solid var(--color-orange);
          outline-offset: 3px;
        }

          .working__item:hover {
            color: var(--color-orange);
          }

          .working__item:active {
            color: var(--color-mango);
          }

          [id^="tab"]:checked + .working__item {
            color: #35a04c;
          }


      .working__slider-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

        .working__slider {
          margin: 0;
        }

          .working__text {
            margin: 0;
            max-width: 758px;
            min-height: 320px;
            color: var(--color-gray-hard);
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            margin-bottom: 16px;
          }

          .working__ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style-type: none;
          }

          .working__li {
            margin-right: 33px;
          }

          .working__link {
            padding: 20px 38px;
            border-radius: 16px;
            text-align: center;
          }

            .working__link_color {
              display: block;
              font-size: 16px;
              font-weight: 400;
              background-color: var(--color-orange);
              border: 1px solid var(--color-orange);
              color: var(--color-white);
              transition: background-color 0.3s ease-in, color 0.2s linear;
            }

                .working__link_color:focus {
                  background-color: rgba(255, 153, 0, 0.7);
                  border: 1px solid rgba(255, 153, 0, 0.7);
                color: var(--color-white);
                }

                .working__link_color:hover {
                  background-color: rgba(255, 153, 0, 0.7);
                  border: 1px solid rgba(255, 153, 0, 0.7);
                  color: var(--color-white);
                }

                .working__link_color:active {
                  background-color: var(--color-mango);
                  border: 1px solid var(--color-mango);
                  color: var(--color-white);
                }

            .working__link_mono {
              display: block;
              font-size: 16px;
              font-weight: 400;
              line-height: 19.5px;
              padding: 20px 38px;
              border: 1px solid var(--color-gray-hard);
              border-radius: 16px;
              color: var(--color-gray-hard);
              transition: background-color 0.3s ease-in, color 0.2s linear;
            }

                .working__link_mono:focus {
                  background-color: #666666;
                  border: 1px solid #666666;
                  color: var(--color-white);
                }

                .working__link_mono:hover {
                  background-color: #666666;
                  border: 1px solid #666666;
                  color: var(--color-white);
                }

                .working__link_mono:active {
                  background-color: var(--color-black);
                  border: 1px solid var(--color-black);
                  color: var(--color-white);
                }

        .working__slider:first-child {
          margin-right: 32px;
        }

        .working__slider:last-child {
          width: 49%;
          border-radius: 32px;
          background-repeat: no-repeat;
          background-size: cover;
        }



        .working__slider-bg__01 {
          background-image: url(../img/1920px/how/how-01.png);
        }

        .working__slider-bg__02 {
          background-image: url(../img/1920px/how/how-02.png);
        }

        .working__slider-bg__03 {
          background-image: url(../img/1920px/how/how-03.png);
        }

        .working__slider-bg__04 {
          background-image: url(../img/1920px/how/how-04.png);
        }

            .content {
              display: none;
            }

            .content.active {
              display: block;
            }



  .faq {
    margin: 0;
    width: 100%;
    margin-bottom: 103px;
  }

    .faq__h2 {
      margin: 0;
      padding: 0;
      color: var(--color-gray-hard);
      font-size: 48px;
      font-weight: 400;
      margin-bottom: 32px;
      line-height: 58.51px;
    }

      .faq__accardion {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
      }

        .faq__items {
          border-top: 1px solid transparent;
          border-bottom: 1px solid var(--color-gray-lite);
          margin-top: -1px;
          list-style-type: none;
          transition: border 0.3s;
        }

          .faq__items:first-child {
            border-top: 1px solid var(--color-gray-lite);
          }

        .faq__btn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 30px 0 30px 0;
          background-color: transparent;
          border: none;
          color: var(--color-black);
          font-size: 24px;
          font-weight: 700;
          text-align: left;
          cursor: pointer;
          transition: color 0.3s;
        }

        .faq__btn span {
          margin-right: 20px;
        }

        .faq__btn svg {
          min-width: 50px;
          min-height: 50px;
        }
          /* ПСЕВДОЭЛЕМЕНТЫ ИНТЕРАКТИВНОСТИ АККОРДИОНА (HOVER, FOCUS, ACTIVE)*/

          .faq__items:focus {
            border-top: 1px solid var(--color-orange);
            border-bottom: 1px solid var(--color-orange);
          }

          .faq__items:hover {
            border-top: 1px solid var(--color-orange);
            border-bottom: 1px solid var(--color-orange);
          }

          .faq__items:active {
            border-top: 1px solid var(--color-gray-lite);
            border-bottom: 1px solid var(--color-gray-lite);
          }

          .faq__items:focus-within {
            border-top: 1px solid var(--color-gray-lite);
            border-bottom: 1px solid var(--color-gray-lite);
          }

            .faq__btn:focus {
              color: var(--color-orange);
            }

            .faq__btn:hover {
              color: var(--color-orange);
            }

            .faq__btn:active {
              color: var(--color-gray-hard);
            }
              /* svg ellipse */
              .faq__btn svg ellipse{
                transition: fill 0.3s;
              }

                .faq__btn:focus svg ellipse{
                  fill: var(--color-orange);
                  transform: rotate(45deg);
                  transform-origin: center;
                  transition: fill 0.3s, transform 0.3s;
                }

                .faq__btn:hover svg ellipse{
                  fill: var(--color-orange);
                }

                .faq__btn:active svg ellipse{
                  fill: var(--color-gray-lite);
                }

              /* svg path */
              .faq__btn svg path {
                transform: rotate(90deg);
                transform-origin: center;
                transition: fill 0.3s, transform 0.3s;
              }

              .faq__btn.open .cross path {
                transform: rotate(45deg);
              }

                .faq__btn:focus svg path {
                  fill: var(--color-white);
                  transition: fill 0.3s, transform 0.3s;
                }

                .faq__btn:hover svg path {
                  fill: var(--color-white);
                }

                .faq__btn:active svg path {
                  fill: var(--color-black);
                  transform: rotate(45deg);
                  transform-origin: center;
                }




  .accordion-content {
    max-height: 0;
    overflow: hidden;
  }

  .faq__accardion-text {
    padding: 0;
    margin: 0;
    max-width: 1003px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: var(--color-black);
  }

    .faq__accardion-text:not(:last-child) {
      margin-bottom: 32px;
    }

    .faq__accardion-text:nth-child(2) {
      margin-bottom: 40px;
    }
/* ------------------------------------------------------------------- */
.footer { /* Подвал документа */
  width: 100%;
  background-color: var(--color-footer);
}

  .footer__content {
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 75px;
  }

    .footer__about {
      width: 252px;
      display: flex;
      flex-direction: column;
    }

      .footer-logo {
        padding: 0;
        margin: 0;
        width: 224px;
        height: 72px;
        margin-bottom: 22px;
      }

      .footer-navbar {
        margin-bottom: 90px;
      }

      .footer-navbar__ul {
        margin: 0;
        padding: 0;
      }

        .footer-navbar__items {
          list-style-type: none;
        }

          .footer-navbar__links {
            color: var(--color-gray-lite);
            font-size: 18px;
            font-weight: 600;
            line-height: 36px;
          }

            .footer-navbar__links:focus {
              color: var(--color-gray-lite);
              outline: 3px solid var(--color-orange);
              outline-offset: 3px;
            }

            .footer-navbar__links:hover {
              color: var(--color-orange);
            }

            .footer-navbar__links:active {
              color: var(--color-mango);
            }

      .footer-social {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
      }

        .footer-social__items {
          list-style-type: none;
          margin-right: 25px;
        }

          .footer-social__links svg path {
            transition: fill 0.2s linear;
          }

          .footer-social__links:focus svg path {
            fill: #7C7C7C;
          }

          .footer-social__links:hover svg path {
            fill: var(--color-orange);
          }

          .footer-social__links:active svg path {
            fill: var(--color-mango);
          }


    .footer-form {
      width: 100%;
      max-width: 570px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

      .footer-form__label {
        color: var(--color-gray-lite);
        font-size: 48px;
        font-weight: 400;
        line-height: 58.51px;
        margin-bottom: 25px;
      }

      .footer-form__input {
        width: 100%;
        height: 60px;
        background-color: #414141;
        color: var(--color-gray-lite);
        padding: 14px 24px 14px 24px;
        border: none;
        border-radius: 16px;
        margin-bottom: 25px;
        resize: none;
        transition: background-color 0.3s ease-in, color 0.2s linear;
      }

        .footer-form:focus {
          background-color: #666666;
          color: var(--color-gray-lite);
        }

        .footer-form__input:hover {
          background-color: #666666;
          color: var(--color-gray-lite);
        }

        .footer-form__input:active {
          background-color: #666666;
          color: var(--color-white);
        }

      .footer-form__taxtarea {
        height: 150px;
        margin-bottom: 32px;
      }

        .footer-form__button {
          margin: 0 auto;
          width: 269px;
          height: 58px;
          color: var(--color-white);
          background-color: var(--color-orange);
          font-size: 16px;
          font-weight: 700;
          border: none;
          border-radius: 16px;
          cursor: pointer;
          transition: background-color 0.3s ease-in, color 0.2s linear;
        }

          .footer-form__button:focus {
            background-color: #FFB84D;
            color: var(--color-white);
          }

          .footer-form__button:hover {
            background-color: #FFB84D;
            color: var(--color-white);
          }

          .footer-form__button:active {
            background-color: #E1670E;
            color: var(--color-white);
          }


    .footer-text {
      margin: 0;
      max-width: 363px;
      color: var(--color-gray-lite);
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
    }

